<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">583067</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate06</property>

		<!--1.显示sql语句-->
		<property name="show_sql">true</property>

        <!--2.让显示的sql语句更清晰-->
		<property name="format_sql">true</property>

		<!--3.让事物由自己控制-->
        <property name="connection.autocommit">false</property>

		<!--4.表的生成策略-->
		<property name="hbm2ddl.auto">update</property>

		<!--5.获取当前线程的session-->
		<property name="hibernate.current_session_context_class">thread</property>

		<!--6.方言-->
		<property name="hibernate.dialect" >org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<mapping resource="bean/Teacher.hbm.xml"/>
		<mapping resource="bean/Student.hbm.xml"/>
	</session-factory>
</hibernate-configuration>